<ion-header [translucent]="true">
  <ion-toolbar  mode="md">
    <ion-title>
      Home {{page > 0 ? " page " + page: ""}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-select [value]="getLanguageIndex()" slot="end" class="ion-padding" (ionChange)="onChangeLanguage($event)">
      <ion-select-option *ngFor="let lang of languages; let i = index" [value]="i.toString()" >{{getLanguage(i)}}</ion-select-option>
    </ion-select>

    <ion-select [value]="enigma.toString()" slot="end" class="ion-padding" (ionChange)="onChangeEnigma($event)">
      <ion-select-option *ngFor="let en of enigmas; let i = index" [value]="i.toString()" >Enigma {{i}}</ion-select-option>
    </ion-select>
    
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  
  <ion-row>
    <ion-col> 
      <ion-segment (ionChange)="segmentChanged($event)" value="date">
        <ion-segment-button value="date">
          <ion-label>Sort by Date</ion-label>
        </ion-segment-button>
        <ion-segment-button value="enigma">
          <ion-label>Sort by Enigma</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  

  <ion-row>
    <ion-col    > 
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
      <div class="ion-text-center">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row  *ngIf="!isLoading">
    <ion-col> 
      <ion-button 
      (click)="onClickPreviousPage()"
      color="secondary"
      [disabled]="page <= 0" 
      expand="block"><ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col class="ion-text-center ion-padding-vertical">
      <ion-text >Page {{page}}</ion-text>
    </ion-col> 
    <ion-col>
      <ion-button  
      (click)="onClickNextPage()"
      color="secondary"
      [disabled]="posts?.length < 10" 
      expand="block">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col> 
  </ion-row>
</ion-grid>

<!-- create post button
<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
-->


</ion-content>
