<ion-header [translucent]="true">
  <ion-toolbar  mode="md">
    <ion-title>
      Search
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col   >
        <ion-item>
        <ion-searchbar animated 
        #searchbar
        placeholder="Search User" 
        (ionChange)="onSearch($event)" 
        [debounce]="1000" ></ion-searchbar>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="searchbar.value?.length < minChars && searchbar.value?.length > 0">
      <ion-col    class="ion-text-center">
        <ion-chip color="warning">
          <ion-text>Minimum {{minChars}} characters</ion-text>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col    class="ion-text-center">
        <ion-list>
          <ion-item
            *ngFor="let profile of profiles"
            detail button (click)="onClick(profile)">
            <ion-avatar slot="start">
              <ion-img [src]="profile.avatar | avatar" ></ion-img>
            </ion-avatar>
            <ion-text>{{profile.name}}</ion-text>
          </ion-item>
          <ion-item *ngIf="(!profiles || profiles.length == 0) && !isLoading">
            <ion-text>No profiles found</ion-text>
          </ion-item>
          <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
