<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-menu side="start" menuId="first" contentId="main" (ionWillOpen)="onMenuOpen()">
    
    <ion-content *ngIf="profile">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img [src]="profile.avatar | avatar">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-text>{{profile.name}}</ion-text>
            <ion-text color="medium">#{{profile.id}} </ion-text>
          </ion-col> 

          
          <ion-col size="4" class="ion-text-right">
            <ion-chip> 
              <ion-icon color="primary" name='heart'></ion-icon> 
              <ion-text >{{profile.likes}}</ion-text>
            </ion-chip> 
          </ion-col>

          

        </ion-row> 

        <ion-row>
          <ion-col class="ion-text-right" >
            <ion-chip>
              <ion-text>Enigma {{profile.enigma}}.{{profile.section}}</ion-text>
            </ion-chip>
          </ion-col>
        </ion-row>  

        <ion-row  class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
          <ion-list>
            <ion-item detail="true" button="true" (click)="visitProfile()" >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item> 
          </ion-list> 
        </ion-col>
      </ion-row>

      <ion-row  class="ion-no-margin ion-no-padding">
        <ion-col class="ion-no-margin ion-no-padding">
          <ion-list>
            <ion-item detail="true" button="true" (click)="onClickFullscreen()" >
              <ion-icon slot="start" name="expand"></ion-icon>
              <ion-label>Fullscreen</ion-label>
            </ion-item> 
          </ion-list> 
        </ion-col>
      </ion-row>

      <ion-row  class="ion-no-margin ion-no-padding">
        <ion-col class="ion-no-margin ion-no-padding">
          <ion-list>
            <ion-item>
              <ion-label>Dark Theme</ion-label>
              <ion-toggle (ionChange)="onToggleDarkMode($event)"></ion-toggle>
            </ion-item> 
          </ion-list> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="secondary" expand="block" (click)="onClickLogout()">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            <ion-text>Logout</ion-text>            
          </ion-button>  
        </ion-col>
      </ion-row>
        
      </ion-grid>
    </ion-content>
  </ion-menu>

</ion-app>
