.nickname {
    font-size:12pt;
}

.enigma {
    color: #c79c68;
}
.avatar-column{
    max-width: 70px;
    
    img {
        width:64px;
        height:64px;
        max-width: 64px;
    }
}

.options-button{
    width: 50px;
    right: 0;
    position: absolute;
}