.nickname {
    font-size:12pt;
}

.enigma {
    color: #c79c68;
}
.avatar-column{
    max-width: 70px;
    
    img {
        width:64px;
        height:64px;
        max-width: 64px;
    }
}

.blur {
    filter: blur(20px) brightness(0.2);
}

.spoiler { 
    z-index: 1;
    width: calc(100% - 10px);
    height: 100%;
    position: absolute; 
    display: flex!important; 
    align-items: center!important;
    justify-content: center;

    ion-button {
        max-height: calc(100% - 5px);
    }
}

.options-button{
    width: 50px;
    right: 0;
    position: absolute;
}