.avatar-column{
    max-width: 70px;
    
    img {
        width:48px;
        height:48px;
        max-width: 48px;
    }
}

.user-column {
    padding: 0px;
    margin-bottom: 10px;
}

ion-card{
    background-color: #262626;
    padding:5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.options-button{
    width: 50px;
    right: 0;
    position: absolute;
}