<ion-card *ngIf="comment" >
  <ion-grid>
    <ion-row>
      <ion-col class="avatar-column">
        <ion-thumbnail (click)="visitProfile(comment.author)">
          <img [src]="comment.avatar | avatar">
        </ion-thumbnail>
      </ion-col> 

      <ion-col size-xs="7" class="user-column">
        <ion-text color="primary" class="nickname">{{comment.name}}</ion-text><br/>
        <ion-text>{{comment.time}}</ion-text> <br/>
        <ion-text color="tertiary" *ngIf="!laterEnigma">Enigma {{comment.enigma + "." + comment.section}}</ion-text> <br/>
      </ion-col>
      
      <ion-col class="ion-text-center options-button" >
        <ion-button fill="clear" (click)="onClickOptions()">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row> 
    <ion-row>
      <ion-col size-xs="12">
        <div class="spoiler ion-text-center" *ngIf="spoiler">
          <ion-text class="ion-align-content-center">{{spoilerMessage}}</ion-text> 
          <ion-button fill="clear" (click)="showSpoiler()" >
            <ion-icon name="eye" slot="start"></ion-icon>
            <ion-text >Show</ion-text>
          </ion-button>
        </div>
        <ion-text [ngClass]="{blur: spoiler}" [innerHTML]="getMessage(comment)"></ion-text>
      </ion-col> 
    </ion-row>

    <ion-row *ngIf="comment.preview">
      <ion-col size-xs="12"> 
          
      <ion-img [ngClass]="{blur: spoiler}" [src]="'https://mirrorlayers.com/propaganda/uploads/' + comment.filename + '.jpg'" ></ion-img>
      
      </ion-col> 
    </ion-row>

    <ion-row *ngIf="!comment.preview && comment.filename_original">
      <ion-col size-xs="12"> 
          <ion-chip><ion-icon color="primary" name="attach"></ion-icon><ion-label>{{comment.filename_original}}</ion-label></ion-chip>
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-margin ion-no-padding">   
        <ion-button fill="clear" (click)="onClickLike()" class="ion-no-margin ion-no-padding">
          <ion-icon [name]="comment.liked ? 'heart' : 'heart-outline'"></ion-icon>
          <ion-text>{{comment.likes || ''}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding ion-text-right" *ngIf="viewPostButton">  
        <ion-button fill="clear" (click)="onClickCard()">
          <ion-icon slot="start" name="chevron-forward"></ion-icon>
          <ion-label>View Post</ion-label>
        </ion-button>
      </ion-col>
      
    </ion-row>
      
  </ion-grid> 
</ion-card>

<ion-card *ngIf="!comment">
  <ion-card-content>
    Loading
  </ion-card-content>
</ion-card>